@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/gilroylight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/gilroyextrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff'),
       url('../fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff'),
       url('../fonts/opensans-light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.01em;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.header {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-size: 47px;
  line-height: 1.2em;
}

.header-small {
  font-size: 18px;
}

.header-small a {
  font: inherit;
  text-decoration: none;
}

.btn {
  display: block;
  border: none;
  background: none;
  background-image: linear-gradient(to top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  height: 40px;
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 2.1em;
}

.btn:hover,
.btn:active {
  background-image: linear-gradient(to top, #f0c52e 0%, #f0c52e 100%);
}

.btn:active {
  color: rgba(190, 156, 34, 0.3);
}

.slide .btn {
  width: 220px;
}

.about-us .btn,
.contacts .btn {
  width: 260px;
}

 .contacts .btn,
 .catalog-filter .btn,
 .catalog-item .btn {
  padding-bottom: 10px;
}

.catalog-filter .btn,
.catalog-item .btn {
  width: 200px;
}

.add-to-comparison {
  font-family: 'Open Sans', Tahoma, sans-serif;
  opacity: 0.5;
  border: none;
  background: none;
}

.add-to-comparison:hover, .add-to-comparison:focus {
  opacity: 1;
}

.label-form, .label-sort {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000
}
